.list li {
    position: relative;
    height: 60px;
    /* background-color: antiquewhite; */
}
.list li span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 36px;
    height: 36px;
    background-color: tomato;
    border-radius: 40px;
    left: 5%;
}
.list li h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 400;
    font-size: 16px;
    left: 20%;
}
.list li em {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-style: normal;
}