a {
    display: block;
    height: 100%;
    text-decoration: none;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}
.add_n {
    background-image: url(../../assets/images/nav_add.png);
}
.add_y {
    background-image: url(../../assets/images/nav_add.png);
}
.chart_n {
    background-image: url(../../assets/images/nav_chart_n.png);
}
.chart_y {
    background-image: url(../../assets/images/nav_chart_y.png);
}
.community_n {
    background-image: url(../../assets/images/nav_community_n.png);
}
.community_y {
    background-image: url(../../assets/images/nav_community_y.png);
}
.details_n {
    background-image: url(../../assets/images/nav_details_n.png);
}
.details_y {
    background-image: url(../../assets/images/nav_details_y.png);
}
.my_n {
    background-image: url(../../assets/images/nav_my_n.png);
}
.my_y {
    background-image: url(../../assets/images/nav_my_y.png);
}